Datasets/traffic_table4.csv
Datasets/traffic_table4_2.csv
Datasets/traffic_table4_3.csv
Datasets/Unicauca-dataset-April-June-2019-Network-flows.csv
Datasets/Unicauca-dataset-April-June-2019-Network-flows_2.csv
Datasets/Unicauca-dataset-April-June-2019-Network-flows_3.csv
Datasets/Unicauca-dataset-April-June-2020-Network-flows_2.csv
Datasets/Unicauca-dataset-April-June-2020-Network-flows_2_2.csv
Datasets/Unicauca-dataset-April-June-2020-Network-flows_2_3.csv
Datasets/Canadian-Institute-for-Cybersecurity.csv
Datasets/Canadian-Institute-for-Cybersecurity_2.csv
Datasets/Canadian-Institute-for-Cybersecurity_3.csv
#---------------------------------------------------------------
Datasets/NUSW-NB15_GT.csv

Datasets/description1.json
Datasets/description2.json
Datasets/description3.json
Datasets/description4.json
Datasets/description5.json
Datasets/description6.json

Datasets/description8.json
Datasets/description9.json
Datasets/description10.json
Datasets/description11.json
Datasets/description12.json
Datasets/description7.json
Datasets/privbayes1.csv
Datasets/privbayes2.csv
Datasets/privbayes3.csv
Datasets/privbayes4.csv
Datasets/privbayes5.csv
Datasets/privbayes6.csv
Datasets/privbayes7.csv
Datasets/privbayes8.csv
Datasets/privbayes9.csv
Datasets/privbayes10.csv
Datasets/privbayes11.csv
Datasets/privbayes12.csv

Datasets/sythetic_data1.csv
Datasets/sythetic_data2.csv
Datasets/sythetic_data3.csv
Datasets/sythetic_data4.csv
Datasets/sythetic_data5.csv
Datasets/sythetic_data6.csv
Datasets/sythetic_data7.csv
Datasets/sythetic_data8.csv
Datasets/sythetic_data9.csv
Datasets/sythetic_data10.csv
Datasets/sythetic_data11.csv
Datasets/sythetic_data12.csv
